@import '../style/variables';

.article-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    @media (max-width: 600px) {
        margin-bottom: 30px;
        display: block;
    }

    img {
        width: 260px;
        height: 220px;

        @media (max-width: 600px) {
            width: 100%;
            height: 20%;
        }
    }

    .info-box {
        width: 600px;

        @media (max-width: 600px) {
            width: 100%;
        }

        h2 {
            margin-bottom: 20px;

            @media (max-width: 600px) {
                margin-bottom: 10px;
            }
        }

        .name-date {
            margin-bottom: 20px;
            display: block;
            color: #6C757D;

            @media (max-width: 600px) {
                margin-bottom: 10px;
            }
        }

        p {
            margin-bottom: 20px;

            @media (max-width: 600px) {
                margin-bottom: 10px;
            }
        }

        .link-com {
            display: flex;
            gap: 20px;

            a {
                color: $link-color;
            }
        }

    }

}