@import '../style/variables';
@import '../style/mixins';

td {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;

    @media (max-width: 500px) {
        font-size: 10px;
    }

}

.action-icons {
    display: flex;
    gap: 20px;

    svg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .edit-icon {
        color: black;

        &:hover {
            color: #007BFF;
            cursor: pointer;
        }
    }

    span {
        color: black;

        &:hover {
            color: red;
            cursor: pointer;
        }
    }

}