@import '../style/variables';
@import '../style/mixins';

.nav-background {
  background-color: $main-color;
  height: 40px;
}

.nav-bar {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  position: relative;

  @media (max-width: 600px) {
    display: block;
  }

  a {
    text-decoration: none;
  }

}

.nav-links {
  display: flex;

  @media (max-width: 600px) {
    display: none;
    background-color: $main-color;
    position: relative;
  }
}

@media (max-width: 600px) {
  .responsive-menu {
    display: block;
  }
}

.menu-icon {
  display: none;
  right: 10px;
  position: absolute;
  top: 8px;
  border: none;
  background-color: $main-color;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
  }

  @media (max-width: 600px) {
    display: block;
  }
}

.left {
  display: flex;
  gap: 20px;

  @media (max-width: 600px) {
    display: block;
    margin-left: 10px;
  }

  img {
    position: relative;
    vertical-align: middle;
    margin-top: 2px;
  }

  a {
    vertical-align: middle;
    color: $secondary-text-color;

    @media (max-width: 600px) {
      display: block;
      margin-bottom: 5px;
    }
  }

  .active {
    color: $hover-color;
  }

  .inactive-link {
    pointer-events: none;
    color: $secondary-text-color;
  }
}

.right {
  position: absolute;
  right: 0;

  @media (max-width: 600px) {
    position: sticky;
    display: block;
    margin-left: 10px;
    padding-bottom: 5px;
  }

  .is-logged {
    display: flex;
    gap: 20px;

    @media (max-width: 1220px) {
        margin-right: 10px;
      }

    @media (max-width: 600px) {
      display: block;
    }
  }

  a {
    color: $link-color;

    @media (max-width: 600px) {
      display: block;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: $link-color;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 20px;
    }
  }

  .log-out {
    background-color: $main-color;
    color: $link-color;
    border: none;
    cursor: pointer;
    margin-top: 2px;
  }

  .log-in {
    svg {
      position: relative;
      top: 2px;
    }
  }
}